In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score,cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from scipy import sparse

In [3]:
news_data = pd.read_csv("News_Final.csv")

In [4]:
news_data = news_data[['Title','Headline','Topic','Facebook', 'GooglePlus', 'LinkedIn']].copy()
news_data.head()

,Title,Headline,Topic,Facebook,GooglePlus,LinkedIn
0,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,obama,-1,-1,-1
1,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",economy,-1,-1,-1
2,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",economy,-1,-1,-1
3,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,economy,-1,-1,-1
4,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,economy,-1,-1,-1

In [5]:
news_data['popularity'] = ((news_data.Facebook) + (news_data.GooglePlus) + (news_data.LinkedIn)).astype(int)

In [6]:
news_data = news_data[news_data.popularity >= 0]

news_data = news_data[['Title','Headline', 'Topic','popularity']]
news_data.head()

,Title,Headline,Topic,popularity
6,"Monday, 29 Feb 2016","RAMALLAH, February 25, 2016 (WAFA) - Palestine...",palestine,0
56,"Monday, 29 Feb 2016","RAMALLAH, February 29, 2016 (WAFA) - The Gover...",palestine,0
111,"Tuesday, 1 Mar 2016","RAMALLAH, February 29, 2016 (WAFA) - The Gover...",palestine,0
726,Microsoft offering £100 discount on original B...,Just ahead of the market rollout of Microsoft'...,microsoft,0
727,Economy to improve though no change in last 6 ...,"&quot;In the coming six months, there seems to...",economy,0

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords = stopwords.words('english')

In [7]:
X = news_data.Title
y = news_data.popularity

X_train,X_test,y_train,y_test = train_test_split(X , y, test_size = 0.33)

In [8]:
cvec = CountVectorizer(stop_words = 'english', min_df=1)

In [9]:
train_title = cvec.fit_transform(X_train)

In [128]:
# train_data = np.matrix(train_title)

# train_data

In [10]:
test_title = cvec.fit_transform(X_test)

# test_title = np.matrix(test_title)

In [11]:
X = news_data.Headline.fillna('')
y = news_data.popularity

X_train,X_test,y_train,y_test = train_test_split(X , y, test_size = 0.33)
cvec = CountVectorizer(stop_words = 'english', min_df=1).fit(X_train)

In [12]:
train_headline = cvec.transform(X_train)

# train_headline_mat = np.matrix(train_headline)
# train_headline_mat

In [13]:
import scipy.sparse as sp

train_title = sp.csr_matrix(train_title)
train_headline = sp.csr_matrix(train_headline)
train = sp.hstack((train_title, train_headline), format = 'csr')

train

<56939x63814 sparse matrix of type '<class 'numpy.int64'>'
	with 1203028 stored elements in Compressed Sparse Row format>

In [14]:
test_headline = cvec.fit_transform(X_test)

# test_headline_mat = np.matrix(test_headline)

In [15]:
import scipy.sparse as sp

test_title = sp.csr_matrix(test_title)
test_headline = sp.csr_matrix(test_headline)
test = sp.hstack((test_title, test_headline), format = 'csr')

test

<28045x47055 sparse matrix of type '<class 'numpy.int64'>'
	with 592645 stored elements in Compressed Sparse Row format>

In [16]:
y_train.shape

(56939,)

In [17]:
y_test.shape

(28045,)

In [18]:
test.shape

(28045, 47055)

In [19]:
train.shape

(56939, 63814)

In [20]:
lr = LogisticRegression()

In [ ]:
lr.fit(train, y_train)
lr.test(test, y_test)

C:\Users\Sonia Arora\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Sonia Arora\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)